body{
    background-color: rgb(209, 248, 235);
    margin: auto;
    width: 700px;
    height: 500px;
}

header{
    text-align: center;
}

main{
    background-color: white;
    border-radius: 12px;
    padding: 20x;
    margin: 10px;
}

fieldset, form{
    margin: 10px;
    border: none;
    padding: 15px;
}

legend{
    font-weight: bolder;
    padding-bottom: 10px;
    font-size: 1.5em;
}

table{
    padding: 10px;
}

